body {
    background-color: #f8f9fa;
  }
  .sidebar {
    height: 100vh;
    background-color: #fff;
    border-right: 1px solid #ddd;
    padding: 1rem;
  }
  .sidebar .nav-link.active {
    background-color: #f0a500;
    color: #fff;
    border-radius: 8px;
  }
  .task-card {
    background-color: white;
    border-radius: 10px;
    padding: 0.75rem 1rem;
    margin-bottom: 10px;
    box-shadow: 0 10px 20px rgba(82, 84, 82, 0.342) !important;

  }
  .nav-link{
    width: 100%;
    margin: 0;
    color: #251814 !important;
    text-align: center;
  }
  .text-warning{
    color: #BA5112;
    font-family: 'Lexend',sans-serif;
    font-weight: 500;
    font-size: 30px;

  }
  
  .glob2 .task-card{
    
    width: 300% !important;
   
  }
  .tara{
    display: flex;
    justify-content: space-between;
  }

  .btnTsak{
    margin-top: 50%;
    color: #ddd;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(82, 84, 82, 0.342) !important;
    padding: 10px;
    text-align: center;
    border: none;
  }
  .glob3{
        padding-right: 40px;
  }
  .glob3 .box1{
    background-color: #BA5112;
  }
  .box2{
    background-color: #EDB046;

  }
  .rounded-img {
    border-radius: 10px;
    overflow: hidden;
  }
  .btn{

    border-radius: 10px;
    color: #fff !important;
    background-color:#BA5112 !important;
    
  }
  h4{
    color: #BA5112;
    font-family: 'Lexend',sans-serif;
    font-weight: 500;
    font-size: 32px !important;
  }
  .glob{
   width: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(82, 84, 82, 0.342) !important;
    padding: 10px;
    text-align: center;
    border: none;
  }