body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    margin: 0;
  }
  .form-box {
    background-color: #f4a938;
    padding: 50px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.58217856) !important;
    border-radius: 20px;
    width: 50%;
    height: 450px;
    text-align: center;
  }
form{
    padding-top: 35px;
}
  
  .form-box h1 {
    color: white;
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 10px;
  }
   form input{
    box-shadow: inset 0 10px 20px rgba(126, 117, 117, 0.582) !important;
   }
  .form-box p {
    color: #4a2600;
    font-weight: 400;
    font-size:20px;
    margin-bottom: 20px;
    font-size: 14px;
  }

  .form-control {
    border: none;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 15px;
  }

  .btn-sign {
    background-color: #b14e0c !important;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    padding: 10px;
    width: 45%;
  }
